body {
	margin: 1.5em 5.5555%;
	font: 100%/1.5 Arial, sans-serif;
}

kbd {
	padding: 0 .2em;
	background: #eee;
	border: 1px solid #ccc;
	font-weight: bold;
	font-size: 1.4em;
}

button {
	font-size: 1em;
}